<!-- views/team.handlebars -->

<!DOCTYPE html>
<html>
<head>
  <title>My Pokemon Team</title>
</head>
<body>
  <h1>My Pokemon Team</h1>
  {{#if team}}
  <ul>
    {{#each team}}
    <li>{{this.name}} - {{this.type}}</li>
    {{/each}}
  </ul>
  {{else}}
  <p>No Pokemon in your team yet.</p>
  {{/if}}
</body>
</html>
